@using Microsoft.AspNetCore.Components.Web
@namespace Rash.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<base href="~/" />
	<link href="css/site.css" rel="stylesheet" />
	<link href="Rash.styles.css" rel="stylesheet" />

	<link href="/open-iconic/font/css/open-iconic.css" rel="stylesheet">

	<link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
	<script src="_content/MudBlazor/MudBlazor.min.js"></script>
	<component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>

<body>
	@RenderBody()

	<div id="blazor-error-ui">
		<span class="error">
			An unhandled exception has occurred. See browser dev tools for details.
		</span>
		<a href="" class="reload">Reload</a>
		<a class="dismiss">🗙</a>
	</div>

	<script src="_framework/blazor.server.js"></script>
</body>

</html>
