@page "/"

<h1>Feed</h1>

<style>
	.game-feed {
		width: 320px;
		height: 320px;
	}

	.cover-feed {
		width: 315px;
		height: 250px;
		background-color: gray;
		background-position: center;
		background-size: cover;
	}
</style>

<div style="display: flex; flex-wrap:wrap; width: 100%; justify-content:center;">
	<InfiniteScroll ObserverTargetId="observerTarget" ObservableTargetReached="(e) => FetchGames()">
		@foreach (var g in games)
		{
			<GameTile Game="@g"></GameTile>
		}

		<span id="observerTarget"></span>
		@if(downloading)
		{
			<Spinner></Spinner>
		}
	</InfiniteScroll>
</div>

@code {
	List<Game> games = new();
	ItchGameFeedParameters p = new()
	{
		Platforms = Platforms.Linux | Platforms.Windows | Platforms.Android,
		ExcludedTag = "horror",
		// ExcludedTag = "visual-novel",
		// Can't decide 😢
	};
	int page = 1;

	bool downloading;
	async Task FetchGames()
	{
		if(downloading) return;
		downloading = true;

		var url = RashClient.Itch.BuildGameFeedURL(p, page);
		games.AddRange((await RashClient.Itch.ReadFeed(url)).ToList());
		
		downloading = false;
		page++;
	}
}