@import url(mobile.css);

html,
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-color: rgb(19, 19, 19);
	color: white;
	height: 100%;
}

.page{
	height: 100%;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	color: #fa5c5c;
}

.content {
	padding-top: 1.1rem;
}