@inherits LayoutComponentBase

<PageTitle>Rash</PageTitle>

<div class="page">
	@if(RashClient.LoggedIn)
	{
		<div class="sidebar">
			<NavMenu />
		</div>

		<main>
			<article class="content px-4">
				@Body
			</article>
		</main>
	}
	else
	{
		<main>
			<article class="content px-4">
				<Login></Login>
			</article>
		</main>
	}
</div>
