@media only screen and (max-width: 600px) {
	.page {
		flex-direction: column-reverse;
		justify-content: space-between;
	}

	main  {
		height: calc(100vh-64px);
	}
}

@media only screen and (min-width: 600px) {
	.page {
		flex-direction: row;
	}

	.sidebar {
		min-width: 250px;
		height: 100vh;
	}

	main  {
		height: 100%;
		width: calc(100vh - 250px);
	}
}

.page {
	display: flex;
}

.sidebar {
	background-color: #fa5c5c;
}

main{
	overflow: auto;
}